@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p> Hello, my name is Emil Jonsson, I am 28 years old and live in Växjö. </p>
<p> My main hobbies is to watch sports of any kind, traveling and hanging out with friends. </p>
<p> I live together with my girlfriend named Stella. We have soon been together for 4 years now. </p>
<p> I have worked as an Account Manager before I started to study this course.</p>
<p> I studied economics when i was younger </p>