@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<h2>Personal information</h2>
<p> Name: Emil Jonsson </p>
<p> Phone number: +46 72 313 66 83 </p>
<p> Email: e.jonsson1996@gmail.com </p>
<p> Address: Vintervägen 3B, 352 32 Växjö </p>

<h2> Socials </h2>
<ul>
    <li><a href="https://www.linkedin.com/in/emil-jonsson-376944186/"> LinkedIn </a></li>
    <li><a href="https://x.com/Jonsson36"> X </a> </li>
    <li><a href="https://www.instagram.com/emiiljonsson/"> Instagram </a> </li>
</ul>
