@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome visitor!</h1>
    <p>In this Web Application you can get to know me better.</p>
    <p>Move around in the different sections above to learn more about me.</p>
</div>
