@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<h2> Github assignments </h2>
 
<ul>
    <li><a href="https://github.com/emiiljonsson/Calc-with-test"> Calculator with xunit in C# </a></li>
    <li><a href="https://github.com/emiiljonsson/Hangman"> Hangman in C# </a></li>
    <li><a href="https://github.com/emiiljonsson/JS-table"> A table in JS </a></li>
    <li><a href="https://github.com/emiiljonsson/Patisserie-Lente"> We made a website</a></li>
</ul>
